<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>NBA球员数据库</title> 

<script>
    function ajaxGet(url) {
        var xmlhttp;
        if (window.XMLHttpRequest)
        {
            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp=new XMLHttpRequest();
        }
        else
        {
            // IE6, IE5 浏览器执行代码
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                var str = xmlhttp.responseText;
                alert(str);
                return xmlhttp.responseText;
            } else {
                return "";
            }
        }
        xmlhttp.open("GET",url,true);
	    xmlhttp.send();
    }
    function searchPlayerMsg() {
        // var player = document.getElementById("player").value;
        var player = document.forms["search-form"]["player"].value;
        var team = ajaxGet("search?player="+player);
        if (team) {
            document.getElementById("search-msg").innerHTML=player+"is in the team:"+team;
        } else {
            document.getElementById("search-msg").innerHTML="Cannot find this player!"
        }
    }
    function addNewPlayer() {
        var player = document.forms["add-form"]["player"].value;
        var team = document.forms["add-form"]["team"].value;
        var r = ajaxGet("add?player="+player+"&team="+team);
        if (r == "true") {
            document.getElementById("add-msg").innerHTML="Add successfully: "+player+", "+team;
        } else {
            document.getElementById("add-msg").innerHTML="Failed to add this player @_@";
        }
    }
    function deletePlayer() {
        var player = document.forms["delete-form"]["player"].value;
        var r = ajaxGet("delete?player="+player);
        if (r == "true") {
            document.getElementById("delete-msg").innerHTML="Delete successfully: "+player;
        } else {
            document.getElementById("delete-msg").innerHTML="Failed to delete this player @_@";
        }
    }
    function changeTeam() {
        var player = document.forms["change-form"]["player"].value;
        var team = document.forms["change-form"]["team"].value;
        var r = ajaxGet("change?player="+player);
        if (r == "true") {
            document.getElementById("change-msg").innerHTML="Change sucessfully: now "+player+" is in "+team;
        } else {
            document.getElementById("change-msg").innerHTML="Failed to change this player @_@";
        }
    }
</script>

</head>
<body>
 
<div id="container">
    <div id="header" style="background-color:rgb(35, 147, 221);">
        <h1 style="margin-bottom:0;">NBA球员数据库</h1>
    </div>
    
    <div id="search" style="background-color:rgb(236, 217, 109); height:100px;">
        <b>查询球员信息</b>
        <form name="search-form">
            球员名: <input type="text" name="player">
            <button type="button" onclick="searchPlayerMsg()">确认</button>
            <p id="search-msg"> </p>
        </form>
    </div>
    <div id="add" style="background-color:rgb(148, 201, 99); height:120px;">
        <b>添加新球员</b>
        <form name="add-form">
            球员名：<input type="text" name="player"><br>
            球队名：<input tyep="text" name="team">
            <button type="button" onclick="addNewPlayer()">确认</button>
            <p id="add-msg"> </p>
        </form>
    </div>
    <div id="delete" style="background-color:rgb(95, 211, 205); height:100px;">
        <b>删除查询球员数据</b>
        <form name="delete-form">
            球员名: <input type="text" name="player">
            <button type="button" onclick="deletePlayer()">确认</button>
            <p id="delete-msg"> </p>
        </form>
    </div>
    <div id="change" style="background-color:rgb(211, 112, 241); height:100px;">
        <b>更改查询球员数据</b>
        <form name="change-form">
            球员名: <input type="text" name="player">
            <button type="button" onclick="changeTeam()">确认</button>
            <p id="change-msg"> </p>
        </form>
    </div>
</div>
 
</body>
</html>